/* #c28022 - caramel - #eacca2 - cream */

/* hr {
  background-color: #c28022;
  height: 10px;
  outline-color: black;
  outline-width: 2px;
  outline-style:inset;
} */

.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -70px;
  background-color: #bda686;
  overflow: hidden;
  width: auto;
}

.nav a {
  text-decoration: none;
}

.navLink {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  color: black;
  background-color: #bda686;
  text-align: center;
  margin-bottom: -10px;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

/*TODO Need to work on this later, gotta split some divs up. -LS
/* .navLink:hover {
  background-color: #008183;
} */