/* #c28022 - caramel - #eacca2 - cream */

/* hr {
  background-color: #c28022;
  height: 10px;
  outline-color: black;
  outline-width: 2px;
  outline-style:inset;
} */

/*TODO tried to make a background image work with 
the header but it wasn't lining up right.. might revisit*/
.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -40px;
  padding-bottom: 10px;
  /* background-image: url(/src/Images/texturedpaper.png);
  background-position-x: -100px;
  background-position-y: -100px; 
  background-repeat:no-repeat; */
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: #bda686;
  width: 100%;
}

.nav a {
  text-decoration: none;
}

.navLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  color: black;
  background-color: #bda686;
  text-align: center;
  margin-bottom: -10px;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #eacca2;
}